<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 命名空间 和包名相同-->
<mapper namespace="com.example.demo.mapper.JurMapper">
  <select id="selectById" parameterType="int" resultType="com.example.demo.entity.Jur">
    select * from jur where id = #{id}
  </select>
  <select id="selectAll"  resultType="com.example.demo.entity.Jur">
    select * from jur 
  </select>
  <delete id="deleteById" parameterType="int">
    delete from jur
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Jur">
    insert into jur
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jurname != null">
        jurname,
      </if>
      <if test="jurtext != null">
        jurtext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jurname != null">
        #{jurname,jdbcType=VARCHAR},
      </if>
      <if test="jurtext != null">
        #{jurtext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.example.demo.entity.Jur">
    update jur
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="jurname != null">
        jurname=#{jurname,jdbcType=VARCHAR},
      </if>
      <if test="jurtext != null">
        jurtext=#{jurtext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>